# QuickBooks OAuth
QB_CLIENT_ID=INSERT_CLIENT_ID
QB_CLIENT_SECRET=INSERT_CLIENT_SECRET
QB_REDIRECT_URI=INSERT_REDIRECT_URI ; example if using ngrok: https://234582i900c4.ngrok-free.app/callback
QB_ENVIRONMENT=production  


QB_BASE_URL=https://quickbooks.api.intuit.com
QB_GRAPHQL_URL=https://qb.api.intuit.com/graphql


QB_SCOPES="com.intuit.quickbooks.accounting project-management.project"

# Intuit API minor version
QB_MINOR_VERSION=75

# Deep link template (keep as-is unless you need a different link)
QB_DEEP_LINK_TEMPLATE=https://app.qbo.intuit.com/app/invoice?txnId=%s&companyId=%s